import(methods)
importFrom("stats","na.omit", "ts","median", "quantile","fitted")
importFrom("utils","tail","head", "data", "setTxtProgressBar", "txtProgressBar")
importFrom("graphics","hist","grid", "legend", "lines", "par", "plot", "points","abline","axis", "axis.Date", "axis.POSIXct", "box", "polygon","layout")
importFrom("grDevices", "gray","colorRampPalette","n2mfrow","col2rgb", "rgb")
importFrom("zoo","coredata","index","zoo")
importFrom("xts","endpoints","xts")
export("estimate","tsdecompose","tsmetrics","tsensemble","ensemble_modelspec","tsfilter","tsbacktest","tsreport",
       "tscor","tscov","tsdiagnose","tsprofile","tsspec","tsautoselect","tsspec","tsbenchmark",
       "tsaggregate","tsconvert","tsequation","tsgrowth","estimate_ad","tscalibrate","tsmoments")
S3method("plot","tsmodel.distribution")
S3method("plot","tsmodel.predict")
S3method("tsgrowth","tsmodel.predict")
S3method("tsensemble","ensemble.spec")
